#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

.carousel-container {
    /*background-image: url("../images/background/88246.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: repeat;*/
    /*opacity: 0.5;*/
    /*background-color: rgb(255, 255, 255, .75);*/
    border-radius: 0.3rem;
    width: 100%;
    height: auto;
    /*border: solid thin #000000;*/
    margin-top: 1%;
    align-self: stretch;
    padding: 3%;
    /* flex: 1 0 auto; */
}

#form-title-text1 {
    color: black;
}
#form-title-text2 {
    color: black;
}
#form-title-text3 {
    color: black;
}
#form-title-text4 {
    color: black;
}
#form-title-text5 {
    color: black;
}

.contact-box {
    border: solid thin #000000;
    border-radius: 0.2rem;
    background-color: rgba(175, 172, 185, 0.7);
    color: #000000;
    /*display: inline-block;*/
}


#port-margin {
    margin-bottom: 2%;
}



@media screen and (max-width: 600px){
    
    body, html {
        /*height: 100%;*/
    }

    body {
        background-image: url("../images/background/3132.jpg");
        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .port-mobile {
        border: solid thin #000000;
        border-radius: 0.2rem;
        background-color: rgba(121, 134, 203, 0.95);
        color: #000000;
        /*display: inline-block;*/
    }

    #big-screen1 {
        display: none;
    }

    #big-screen2 {
        display: none;
    }

}

@media screen and (min-width: 601px){
    body {
        background-image: url("../images/background/3132.jpg");
        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .port-mobile {
        border: solid thin #000000;
        border-radius: 0.2rem;
        background-color: rgba(121, 134, 203, 0.95);
        color: #000000;
        /*display: inline-block;*/
    }

    #big-screen1 {
        display: none;
    }

    #big-screen2 {
        display: none;
    }
    

}

@media screen and (min-width: 993px){
    .carousel {
        display: none;
    }

    #car-h4-hide {
        display: none;
    }

   

    #big-screen1 {
        display: contents;
    }

    #big-screen2 {
        display: contents;
    }
  
}

@media screen and (min-width: 1201px){
    .carousel {
        display: none;
    }

}