footer {
    position:fixed;bottom:0;left:0;width:100%;
}

.main-container {
    /*background-image: url("../images/background/88246.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: repeat;*/
    /*opacity: 0.5;*/
    /*background-color: rgb(255, 255, 255, .75);*/
    border-radius: 0.3rem;
    width: 100%;
    height: auto;
    /*border: solid thin #000000;*/
    margin-top: 1%;
    align-self: stretch;
    padding: 3%;
    /* flex: 1 0 auto; */
}

.port-mobile {
    border: solid thin #000000;
    border-radius: 0.2rem;
    background-color: rgba(121, 134, 203, 0.7);
    color: #000000;
    /*display: inline-block;*/
}



@media screen and (max-width: 600px){
    body, html {
        /*height: 100%;*/
    }

    body {
        background-image: url("../images/background/3132.jpg");
        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .port-mobile {
        border: solid thin #000000;
        border-radius: 0.2rem;
        background-color: rgba(121, 134, 203, 0.95);
        color: #000000;
        /*display: inline-block;*/
    }

}

@media screen and (min-width: 601px){
    body {
        background-image: url("../images/background/3132.jpg");
        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


}

@media screen and (min-width: 993px){

}

@media screen and (min-width: 1201px){

}