#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.footer-icons {
  margin-left: 1%;
  margin-right: 1%;
}


#form-title-text1 {
  color: black;
}
#form-title-text2 {
  color: black;
}
#form-title-text3 {
  color: black;
}
#form-title-text4 {
  color: black;
}
#form-title-text5 {
  color: black;
}

.contact-box {
  border: solid thin #000000;
  border-radius: 0.2rem;
  background-color: rgba(175, 172, 185, 0.7);
  color: #000000;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  /* display: inline-block; */
}

.contact-box-stuff {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

#port-margin {
  margin-bottom: 2%;
}

#contact-form-button, #captcha-style {
  margin-bottom: 1%;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../images/background/3132.jpg");
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    back
  }

  .port-mobile {
    border: solid thin #000000;
    border-radius: 0.2rem;
    background-color: rgba(121, 134, 203, 0.95);
    color: #000000;
    /*display: inline-block;*/
  }

  #big-screen1 {
    display: none;
  }

  #big-screen2 {
    display: none;
  }

  #big-screen3 {
    display: none;
  }

  #big-screen4 {
    display: none;
  }

  #big-screen5 {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  body {
    background-image: url("../images/background/3132.jpg");
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .port-mobile {
    border: solid thin #000000;
    border-radius: 0.2rem;
    background-color: rgba(121, 134, 203, 0.95);
    color: #000000;
    /*display: inline-block;*/
  }
}

@media screen and (min-width: 993px) {
  .about-page-big {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
    width: 85%;
    padding-top: 2%;
  }

  .about-page-big2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* align-content: center; */
    width: 85%;
    padding-top: 2%;
  }

  /* .contact-box-stuff {
        display: flex;
        justify-content: space-evenly;
    } */

  #car-h4-hide {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
}
